<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div
        class="col-xl-6 col-md-12"
        style="justify-content: center; margin-top: 228px"
      >
        <div class="card user-card-full" style="border: none">
          <div class="row m-l-0 m-r-0">
            <div
              class="col-sm-4 bg-c-lite-green user-profile"
              style="
                background: #678c97;
                padding-top: 20px;
                border-bottom-left-radius: 12px;
              "
            >
              <div class="card-block text-center text-white">
                <div class="m-b-25">
                  <img
                    style="width: 70px; border-radius: 40px; margin-top: 64px"
                    src="https://images.unsplash.com/photo-1639765766830-d829d2fe4219?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1446&q=80"
                    class="img-radius"
                    alt="User-Profile-Image"
                  />
                </div>
                <h6
                  class="f-w-600"
                  style="padding: 19px; color: white; font-weight: bold"
                >
                  Graduation Project
                </h6>
                <i
                  class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"
                ></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6
                  class="m-b-20 p-b-5 b-b-default f-w-600"
                  style="
                    width: 514px;
                    padding: 20px 20px 14px 12px;
                    color: #cd7857;
                    background: white;
                  "
                >
                  Team Information
                </h6>
                <div
                  class="row"
                  style="
                    width: 526px;
                    color: #cd7857;
                    background: aliceblue;
                    border-bottom-right-radius: 10px;
                  "
                >
                  <div class="col-sm-6">
                    <p
                      class="m-b-10 f-w-600"
                      style="padding: 12px; color: #868585"
                    >
                      Names:
                    </p>
                    <h6 class="f-w-400" style="padding: 10px">
                      Samaa Khalifa (Backend)
                    </h6>
                    <h6 class="f-w-400" style="padding: 10px">
                      Mohamed Sherif (Backend)
                    </h6>

                    <h6 class="f-w-400" style="padding: 10px">
                      Asmaa Refat (Frontend)
                    </h6>

                    <h6 class="f-w-400" style="padding: 10px">
                      Abdulrahman Magde (Android)
                    </h6>

                    <h6 class="f-w-400" style="padding: 10px">
                      Ahmed Atef (IOS)
                    </h6>
                  </div>
                  <div class="col-sm-6">
                    <p
                      class="m-b-10 f-w-600"
                      style="padding-top: 12px; color: #868585"
                    >
                      Group Number : 2
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
